:root {
    /* common */
    --containerMaxWidth: 1637px;

    /* fonts */

    --font-family: Arial, sans-serif;
    --second-family: 'Prata';


    /* color */
    --white: #FFFFFF;
    --black: #000000;
    --dark29: #282829;
    --dark22: #222222;
    --grey5a: #55565a;
    --greybe: #d5c9be;
    --grey5d: #38535d;
    --grey65: #405d65;
    --orange00: #fd8f00;
}